/* Card2.css */
@font-face {
  font-family: "Dashhorizon";
  src: url("../../assets/Fonts/Dashhorizon.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#text2 {
  color: #e2bbe9;
}

.main-card {
  /* background-color: aquamarine; */
  border: 1px solid red;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

#Card-2-Heading {
  text-align: center;
  color: white;
}
.card-2 {
  margin: 50px 10px 50px 10px;
  color: white;
  width: 400px;
  height: 200px;

  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.box-card {
  background-image: url("https://i.pinimg.com/originals/10/65/bc/1065bc662c55648c454c462f208d920e.gif") !important;
  background-position: center;
}

.box-card-2 {
  background-position: 100%;
  backdrop-filter: opacity(0.9);
  background-size: 100%;
  background-image: url("../../assets/Supra-img.gif") !important;
}

.box-card-3 {
  background-position: 100%;
  backdrop-filter: opacity(0.9);
  background-size: 100%;
  background-image: url("../../assets/GTR-car-img.webp") !important;
}

.border-2 {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text-2 {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: red;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content-2 {
  transition: all 0.5s ease-in-out;
}

.content-2 .card-logo-2 {
  height: 33px;
  position: relative;
  width: 10px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

/* .content .logo .logo1 {
  position: absolute;
  left: 0;
} */

.content-2 .card-logo-2 .logo2 {
  height: 600px;
  position: absolute;
  left: 10px;
}

.content-2 .card-logo-2 .trail-2 {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content-2 .logo-bottom-text-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.card-2:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card-2:hover .card-logo-2 {
  width: 134px;
  animation: opacity 1s ease-in-out;
}

.card-2:hover .border-2 {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.card-2:hover .bottom-text-2 {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card-2:hover .content-2 .logo-bottom-text-2 {
  opacity: 1;
  letter-spacing: 9.5px;
}

.card-2:hover .trail-2 {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid red;
  }

  80% {
    border-right: 1px solid red;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail-2 {
  0% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 122, 103) 100%
    );
    opacity: 0;
  }

  30% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(219, 19, 5) 100%
    );
    opacity: 1;
  }

  70% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(179, 31, 5) 100%
    );
    opacity: 1;
  }

  95% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(220, 44, 9) 100%
    );
    opacity: 0;
  }
}

/* Animated Text css */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
/* 
body {
  text-align:center;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  
} */
.align-text {
  margin: 20px;
}

#text {
  font-size: 2rem;
  /* color: #fff; */
  font-family: "Dashhorizon";
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#text:first-of-type {
  /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

#text:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

#text:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

/* End of the Text Animation */
