/* .grand-parent {
  background-color: #222831;
} */

.main-box {
  display: flex;
  justify-content: space-evenly;
}
.child-box,
.child-box-1 {
  height: 400px;
  width: 500px;
  background-color: violet;
  border: 2px solid black;
  margin: 10px;
}

.child-box-1 {
  background-image: url("https://i.pinimg.com/564x/d6/1d/fe/d61dfea97ca56afd51cb74f795b6035e.jpg");
  color: white;
}

/* 
different line */

.card {
  margin: 50px 10px 50px 10px;
  color: white;
  width: 400px;
  height: 300px;
  /* background-image: url("https://i.pinimg.com/originals/d6/c7/a1/d6c7a145b32a562ff6bf8fa542b15e3b.gif"); */
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#logo-main,
#logo-second {
  height: 100%;
}

#logo-main {
  fill: red;
}

#logo-second {
  padding-bottom: 10px;
  fill: none;
  stroke: #bd9f67;
  stroke-width: 1px;
}

.border {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: red;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content {
  transition: all 0.5s ease-in-out;
}

.content .logo {
  height: 33px;
  position: relative;
  width: 10px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

/* .content .logo .logo1 {
  position: absolute;
  left: 0;
} */

.content .logo .logo2 {
  height: 600px;
  position: absolute;
  left: 10px;
}

.content .logo .trail {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card:hover .logo {
  width: 134px;
  animation: opacity 1s ease-in-out;
}

.card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

.card:hover .trail {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid red;
  }

  80% {
    border-right: 1px solid red;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail {
  0% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 122, 103) 100%
    );
    opacity: 0;
  }

  30% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(219, 19, 5) 100%
    );
    opacity: 1;
  }

  70% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(179, 31, 5) 100%
    );
    opacity: 1;
  }

  95% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(220, 44, 9) 100%
    );
    opacity: 0;
  }
}

.card-1 {
  background-image: url("https://i.pinimg.com/originals/2c/1c/64/2c1c6400528c9ff32f446a6cdee6c125.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-2 {
  color: black;
  font-size: 20px;
  background-image: url("https://i.pinimg.com/originals/d6/c7/a1/d6c7a145b32a562ff6bf8fa542b15e3b.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-3 {
  color: maroon;
  background-image: url("https://i.pinimg.com/originals/16/69/e5/1669e57761ccc67fa5e31a09a54764d0.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-3 .logo-3 {
  height: 50px;
}

/* For Testing...! */