/* section 2 */
.section2 {
  display: flex;
  justify-content: space-between;

  color: white;

}
#text-align {
  height: fit-content;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  width: 500px;
 
  margin-top: 100px;
  margin-left: 30px;
}

li {
  padding: 5px;
  list-style: none;
}


