/* section 2 */

.text-align {
  height: fit-content;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  width: 500px;

  margin-left: 30px;
}

.box li {
  display: inline-block;
}

.bottle {
  margin-top: 20px;
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
}

.glass {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 10%;
  height: 80px;
  border-radius: 10px;
}
