/* section 2 */

.text-align {
  height: fit-content;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  width: 500px;

  margin-left: 30px;
}

.box li {
  display: inline-block;
}

.player-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name-box {
  color: white;
  border: 1px solid #000;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
