


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main a {
  text-decoration: none;
  color: white;
}

#style {
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  position: fixed;

  align-items: center;
  top: 0%;
/* top: 20px; */
transition: top 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#box-nav {
  display: flex;
  gap: 50px;

  margin-left: 700px;
}
#btn-play{
 margin-left: 20px;
}

/* .img {
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  height: 500px;
  width: 100%;
  background-image: url(/src/assets/tech-assts.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.Dynamic-text-style{
  font-family: "Rajdhani", sans-serif;
  /* font-family: "Bebas Neue", sans-serif; */
  font-weight: 400;
  color: #fff;
  
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
 
  font-weight: 500;
  font-style: normal;
}
#btn {
  border-radius: 25px 25px 25px 25px;
  padding: 10px 50px 10px 50px;
}

/* for color-style */
#box-nav {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 25px 25px 25px 25px;
}

/* #btn:hover {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
} */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}
