.App {
  text-align: center;
}

.App-header {
  margin-top: 70px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 796px) {
  .App-header {
    margin-top: 10rem;
  }
}
