* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#login-btn {
  --color: #040d12;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  /* margin: 20px; */
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

#loginDark-btn {
  --color: white;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  /* margin: 20px; */
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

#login-btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

#login-btn:hover {
  color: #fff;
}

#login-btn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

#login-btn:hover::before {
  top: -30px;
  left: -30px;
}

/*  End */
.label-text-color {
  color: #757575;
}
#heading{
text-align: center;
}

.heading-signUp {
  display: none;
}

/* Responsive for signpage */
@media screen and (max-width: 455px) {
  #heading {
    display: none;
  }

  .heading-signUp {
    font-size: 4rem;
    /* text-align: center; */
    display: block;
    color: #c7bdc7;
    margin: 20px;
  }

  .display {
    margin: 10px 0px 20px 2rem;
    display: block;
  }

  .toggle-position {
    position: relative;
    right: 100px;
  }

  .form-responsive {
    display: block;
    width: 15rem;
    margin-left: 5rem;
    margin-right: -50px;
  }

  .form-responsive input {
    width: 15rem;
    margin: 5px 5px 10px -50px;
  }

  .res-btn {
    margin-left: -50px;
  }

  #sign-page {
    height: 40rem;
  }
}

/* Ending Point Media Q */
/* Toggle  css */

.light-mode {
  background-color: azure;
}

.container-box {
  height: 100vh;
}
.main,
.dark-mode {
  background-color: #191919;
}

/* Toggle button hard-code-css  */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 20px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* tooggle btn css end */
.toggle {
  display: inline-block;
  position: absolute;
  left: 90%;
  top: 2%;
}

.rock {
  position: absolute;
  bottom: 4%;
  left: 55%;
}

#sign-page {
  background: rgba(245, 240, 240, 0.15);
  backdrop-filter: blur(11px);
  border-radius: 8px;
}

.userInput {
  height: 45px;
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid #ecedec;
}

.text-color-black {
  color: black;
}

.text-color-white {
  color: #fff;
}
