.leftSide-nav {

  border: 1px solid red;
  width: auto;
  height: 100vh;
  color: #fff;
  display: flex;
  gap: 20px;
}

.sideNavbar-div {
  background: #000;
  border: 1px solid blue;
  width: 250px;
}

.heading-div {
  width: 500px;
  border: 1px solid red;
  ;

}

.top-parent-container {
  display: flex;
  justify-content: space-around;

}
#input-option{
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.top-div-boxs {
  border: 1px solid black;
}

/* hello */
/* Mewing Bye bye */