.list-heading {
  font-size: 2rem;
}
.parent-box {
  width: 578px;
}
@media screen and (min-width: 320px) and (max-width: 456px) {
  .join {
    font-weight: bolder;
    margin-left: 20px;
  }
  .parent {
    display: block;
  }
  #btn {
    margin-left: 16px;
  }
  .parent-box {
    margin-left: 20px;
    width: 200px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: auto auto; /* Two rows */
  }
  .main ul {
    margin-left: 20px;
  }
}
