.list-heading {
  font-size: 2rem;
}
.parent-box {
  width: 578px;
}

.grid-container {
  border: 1px solid red;
  display: grid;
justify-items:center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 200px;
}

@media screen and (min-width: 320px) and (max-width: 456px) {
  .join {
    font-weight: bolder;
    margin-left: 20px;
  }
  .parent {
    display: block;
  }
  #btn {
    margin-left: 16px;
  }
  .parent-box {
    margin-left: 20px;
    width: 200px;
  }
}
